:root {
    --f-red: #792525;
    --f-red-light: #c43d3d;
    --f-red-dark: #451515;
    --f-white: #f2f2f2;
    --f-gray: #1b1b1b;
    --f-gray-light: #bbb;
    --f-gray-lighter: #dbdbdb;
    --f-shadow: #00000060;
    --f-blue-focus: #cdd2e8;
    --f-red-transparent: rgba(121, 37, 37, 0.75);
}

body {
    padding: 0;
    margin: 0;
    background: var(--f-white);
}

h1, h2, h3, h4, h5 {
    font-family: 'Trebuchet MS', sans-serif;
}

p {
    font-family: 'Palatino Linotype', Georgia;
}


/* Navigation bar */

.nav {
    background-color: var(--f-red);
    overflow: hidden;
    flex: auto;
    position: fixed;
    z-index: 50;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0.15em 0.15em var(--f-shadow);
}

.nav a {
    float: left;
    color: var(--f-white);
    text-align: center;
    padding: 0.6em 1em;
    text-decoration: none;
    font: bold 1.3em 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1em;
}

.nav a:hover {
    background-color: var(--f-white);
    color: var(--f-red);
}

.nav a.logoNav {
    padding: 0.2em;
}

.logoNav img {
    height: 1.9em;
    padding: 0;
    margin: 0;
}


/* Footer */

.container:after {
    content: "";
    display: block;
    height: 2.5em;
}

.footer {
    background-color: var(--f-red);
    height: 2.5em;
    width: 100%;
    font: 1em 'Palatino Linotype', Georgia;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 0.4em;
}

.footer * {
    line-height: 2.5em;
    color: var(--f-white);
}


/* Main container */

.container {
    margin: 3.2em 0.4em -2.5em;
    min-height: 100%;
}


/* Input forms */

.registerForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.registerForm * {
    width: 100%;
    padding: 0.2em;
    margin: 0.6em;
}

.segment .section-header, .segment .formInput {
    box-shadow: 3px 3px 5px var(--f-shadow);
}

.registerForm input, .registerForm textarea, .registerForm select {
    padding: 0.6em;
    margin: 1em 0.8em;
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: 0.07em;
    border: 0.05em solid var(--f-gray);
}

.registerForm input:focus {
    background-color: var(--f-blue-focus);
}

.registerForm input::placeholder, .registerForm textarea::placeholder {
    text-transform: uppercase;
}

#firstName, #lastName {
    width: 45%;
}

form {
    width: 100%;
}

.errorMessage {
    font-family: "Palatino Linotype", Georgia;
    color: red;
}

/* Invoice */

.invoice {
    display: grid;
    grid-template-columns: 15% 50% 30%;
    grid-template-rows: 5% 6% 11% 11% min-content 20% 5%;
    column-gap: 2.5%;
    row-gap: 2%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

.invoice th, .invoice td {
    padding: 0.2em;
}

.invoiceHeader {
    grid-area: 1 / 1 / span 1 / span 3;

    border-bottom: 1px solid black;
}

.invoiceTitle {
    grid-area: 2 / 1 / span 1 / span 2;
}

.invoiceTitle * {
    margin: 0;
    padding: 0;
}

.userInfo {
    grid-area: 3 / 1 / span 1 / span 2;
}

.userInfo p {
    margin: 0;
    padding: 0;
}

#invoiceUserName, #invoiceClientName {
    font-weight: bold;
}

.clientInfo {
    grid-area: 4 / 1 / span 1 / span 2;
}

.clientInfo p, h3 {
    margin: 0;
    padding: 0;
}

.invoiceReference {
    grid-area: 2 / 3 / span 2 / span 1;
}

.invoiceReference * {
    border: 1px solid black;
    border-collapse: collapse;
}

.invoiceReference th, .invoiceTotal th {
    text-align: right;
}

.invoiceTable {
    grid-area: 5 / 1 / span 1 / span 3;
}

.invoiceTable table {
    width: 100%;
}

.invoiceTable * {
    border: 1px solid black;
    border-collapse: collapse;
}

.invoiceTotal {
    grid-area: 6 / 3 / span 1 / span 1;
    justify-self: end;
}

.testButton {
    grid-area: 6 / 1 / span 1 / span 1;
}

.invoiceTotal table, .invoiceTotal table * {
    border: 1px solid black;
    border-collapse: collapse;
}

#invoiceFinalTotal {
    font-weight: bold;
    text-decoration: underline;
}

/* Banner */

.banner {
    display: inline-block;
    height: 25vw;
    width: 100%;
    margin-top: 0.2em;
    background-color: var(--f-red);
    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: cover;
    background-attachment: fixed;
    font-size: 2rem;
    text-align: center;
    background-image: url("/pub/images/bannerBack.jpg");
}

.banner-text {
    background: var(--f-red-transparent);
    color: white;
}


/* Homepage */

.content-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.left-side{
    width: 55%;
}

.right-side{
    width: 44%;
    display: flex;
    flex-wrap: wrap;
}

.right-side * {
    align-self: stretch;
}

.segment {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: available;
    min-width: 340px;
    overflow: hidden;
    padding: 3vw;
    margin: 1vw;
    border: 0.125em solid var(--f-gray-light);
    border-radius: 0.3em;
    background-color: var(--f-white);
    box-shadow: 10px 10px 5px var(--f-shadow);
}

.segment.condensed {
    width: 40%;
    margin: 4em auto;
}

.segment.condensedTable {
    width: fit-content;
    margin: 4em auto;
}

.section-header {
    border-radius: 0.2em;
    border-top: 0.15em solid var(--f-red-light);
    border-left: 0.15em solid var(--f-red-light);
    border-bottom: 0.15em solid var(--f-red-dark);
    border-right: 0.15em solid var(--f-red-dark);
    color: var(--f-white);
    background: var(--f-red);
    text-align: center;
    width: fit-content;
    padding: 0.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
}

.paragraph, ul {
    font-size: max(16px, 1.5vw);
    color: var(--f-gray);
    min-width: 35ch;
    max-width: 65ch;
    line-height: 1.8;
}

button {
    border: none;
}

button h2:hover {
    border: 0.15em solid var(--f-red);
    background-color: var(--f-white);
    color: var(--f-red);
    cursor: pointer;
}

.submitButton {
    align-self: end;
    width: fit-content;
    font-weight: bold;
}

.submitButton:hover {
    border: 0.15em solid var(--f-red);
    background-color: var(--f-white);
    color: var(--f-red);
    cursor: pointer;
}


/* Styled tables */

.styled-table {
    border-collapse: collapse;
    border: 2px solid var(--f-gray-light);
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Trebuchet MS', sans-serif;
}

.styled-table thead tr {
    text-transform: uppercase;
    background-color: var(--f-red);
    color: var(--f-white);
    text-align: left;
}

.styled-table button {
    text-decoration: none;
    border: 2px solid var(--f-red);
    background-color: var(--f-white);
    color: var(--f-red);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    border-radius: 0.2em;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table button.delete {
    border-radius: 0.2em;
    color: var(--f-white);
    background: var(--f-red);
    text-align: center;
    width: 9ch;
    padding: 0.2em;
    text-transform: uppercase;
    margin: 0;
}

.styled-table tbody tr {
    border-bottom: 1px solid var(--f-gray);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--f-gray-lighter);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--f-red);
}

.tableTop {
    width: 100%;
}

.tableTop * {
    display: inline-block;
}

.tableTop a {
    float: right;
}

.tableTop button {
    width: fit-content;
    font-weight: bold;
    align-self: end;
    justify-self: end;
}

.tableTop button:hover {
    border: 0.15em solid var(--f-red);
    background-color: var(--f-white);
    color: var(--f-red);
    cursor: pointer;
}

/* Print media settings */

@media only screen {
    .invoice, .invoice * {
        display: none;
    }
}

@media only print {
    body, body * {
        visibility: hidden;
    }

    .invoice, .invoice * {
        visibility: visible;
    }
}